.image_info {
  width: 100%;
  .container {
    display: flex;
  }
  .rgbaInfo {
    width: 100px;
    border-right: 1px #e3e3e3 solid;
    > div {
      margin: 5px 0px;
    }
  }

  .imgInfo {
    margin: 0px 10px;
    > div {
      margin: 10px 0px;
    }
  }
}
