<div class="image_editor">
  <div class="canvas_container">
    <canvas ref="drawCanvas"> </canvas>
  </div>
  <div class="editor">
    <div class="upload_btn button">
      上傳
      <input
        type="file"
        accept="image/jpg,image/jpeg,image/png"
        @change="getData"
      />
    </div>
    <div
      class="button"
      @click="getRandomIndex"
    >下張</div>
    <div
      v-for="item in editTexts"
      class="editTexts"
    >
      <el-input
        v-model="item.text"
        @input="render"
      ></el-input>
    </div>
  </div>
</div>