<div class="image_editor">
  <div class="canvas_container">
    <canvas ref="drawCanvas"> </canvas>
  </div>
  <div class="editor">
    <div class="upload_btn button">
      上傳
      <input
        type="file"
        accept="image/jpg,image/jpeg,image/png"
        @change="getData"
      />
    </div>
    <div
      class="button"
      @click="getRandomIndex"
    >下張</div>
    <div
      class="button"
      @click="downloadImg"
    >儲存</div>
    <div
      v-for="(item, index) in editTexts"
      class="edit_texts"
    >
      <el-input
        :value="item.text"
        @input="(val) => textChange(val, index)"
      ></el-input>
      <div class="picker">
        fill:
        <input
          type="color"
          :value="item.fill"
          @change="(e) => colorChange(e, index)"
        />
      </div>
    </div>
    <div
      class="add_text"
      @click="addText"
    >
      <i class="el-icon-plus"></i>
    </div>
  </div>
</div>