<div class="image_slider">
  <Slider
    title="曝光度"
    :min="-100"
    :max="100"
    :value="brightness"
    @sliderChange="val => sliderChange(val, 'brightness')"
  ></Slider>
  <Slider
    title="對比度"
    :min="-100"
    :max="100"
    :value="contrast"
    @sliderChange="val => sliderChange(val, 'contrast')"
  ></Slider>
  <Slider
    title="飽和度"
    :min="-100"
    :max="100"
    :value="saturation"
    @sliderChange="val => sliderChange(val, 'saturation')"
  ></Slider>
  <Slider
    title="細節飽和度"
    :min="-100"
    :max="100"
    :value="vibrance"
    @sliderChange="val => sliderChange(val, 'vibrance')"
  ></Slider>
  <Slider
    title="陰影"
    :min="-100"
    :max="100"
    :value="shadow"
    @sliderChange="val => sliderChange(val, 'shadow')"
  ></Slider>
</div>
