<div class="video">
  <span v-show="isPlay"> Fps : {{ fps }}</span>
  <el-button
    @click="slowMainThread"
    class="button"
    v-show="isPlay"
  >
    變慢
  </el-button>
  <el-checkbox
    v-model="enableWorker"
    class="box"
  > 使用 Worker</el-checkbox>
  <span v-if="isPlay && fibResult"> Result: {{ fibResult }}</span>
  <div class="image_container">
    <video
      src="../../../assets/video.mp4"
      autoplay
      loop
      muted
      ref="video"
      @play="drawCanvas"
      :style="videoStyle"
    ></video>
    <div class="canvas_container">
      <canvas ref="drawCanvas"> </canvas>
    </div>
    <div
      class="image_editor"
      v-show="isPlay"
    >
      <ImageSlider></ImageSlider>
      <el-input
        v-model="barrageInput"
        @keyup.enter.native="addBarrage"
        placeholder="大家刷一波"
      ></el-input>
      <el-button
        @click="addBarrage"
        class="button"
      >
        送出
      </el-button>
    </div>
  </div>
</div>