<div class="hand_track">
  <template v-show="!isLoading">
    <video
      autoplay
      ref="video"
    ></video>
    <canvas
      ref="videoCanvas"
      class="canvas"
    ></canvas>
    <div class="scratch">
      <canvas
        ref="bgCanvas"
        class="canvas"
      ></canvas>
      <canvas
        ref="fgCanvas"
        class="canvas"
        @mousemove="handleMousemove"
      ></canvas>
    </div>
  </template>
  <template v-if="isLoading">
    <div class="loading">
      Loading Model ......
    </div>
  </template>

</div>